<a href="https://colab.research.google.com/github/JahnviShukla09/Conditional-Statements/blob/main/Conditional_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment No.- 6
##Title- Study of Conditional Statements in Python
##Jahnvi Shukla
##PRN- 25070123055
##ENTC-A3

In [ ]:
#1a Check whether number is positive or negative
number = int(input("enter number: "))
if number > 0 :
  print("number is positive")
else :
  print("number is negative")

#1b Check whether number is positive negative or zero
number = int(input("enter number: "))
if number > 0 :
  print("number is positive")

elif number==0:
  print("number is zero")

else :
  print("number is negative")

enter number: 23
number is positive
enter number: 0
number is zero

In [ ]:
#2 Check whether a number is odd or even
number = int(input("enter a number: "))
if number % 2 == 0:
  print("the number is even")
else:
  print("the number is odd")

enter a number: 57
the number is odd

In [ ]:
#3 Check which number is greater
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
if num1 > num2 :
  print("number 1 is greater than number 2")
elif num1 < num2 :
  print("number 2 is greater than number 1")
else :
  print("both numbers are equal")

enter a number: 23
enter a number: 34
number 2 is greater than number 1

In [ ]:
#4 Find the largest of three numbers
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
num3 = int(input("enter a number: "))
if num1 > num2 and num1 > num3 :
  print("number 1 is the largest")
elif num2 > num1 and num2 > num3 :
  print("number 2 is the largest")
else :
  print("number 3 is the largest")

enter a number: 34
enter a number: 56
enter a number: 78
number 3 is the largest

In [ ]:
#5 Grade for 5 subjects
sub1 = int(input("enter marks for maths: "))
sub2 = int(input("enter marks for physics: "))
sub3 = int(input("enter marks for chemistry: "))
sub4 = int(input("enter marks for biology: "))
sub5 = int(input("enter marks for english: "))

average = (sub1+sub2+sub3+sub4+sub5)/5
print("average marks are: ", average)

if average >= 90 :
  print("Grade O")
elif average >= 75 :
  print("Grade A")
elif average >=60 :
  print("Grade B")
elif average >=40 :
    print("Grade C")
else :
  print("Fail")

enter marks for maths: 89
enter marks for physics: 79
enter marks for chemistry: 95
enter marks for biology: 97
enter marks for english: 94
average marks are:  90.8
Grade O

In [ ]:
#6 Check whether a year is a leap year
year = int(input("Enter an year: "))
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
   print("The year is a leap year")
else :
  print("The year is not a leap year")

Enter an year: 2100
The year is not a leap year

In [ ]:
#7 Check if a date is valid and print the incremented date if it is valid
date = input("Enter the date in format {dd/mm/yy}: ")
dd,mm,yy = date.split('/')
dd=int(dd)
mm=int(mm)
yy=int(yy)
if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
  max_days= 31
elif (mm==4 or mm==6 or mm==9 or mm==11):
  max_days= 30
elif(yy%4==0 and yy%100!= 0 or yy%400==0):
  max_days= 29
else:
  max_days= 28
if(mm<1 or mm>12):
  print("date is invalid")
elif(dd<1 or dd>max_days):
  print("date is invalid")
elif(dd==max_days and mm!=12):
  dd=1
  mm=mm+1
  print("The incremented date is: ", dd,mm,yy)
elif(dd==31 and mm==12):
  dd=1
  mm=1
  yy=yy+1
  print("The incremented date is: ", dd,mm,yy)
else:
  dd=dd+1
  print("The incremented date is: ", dd,mm,yy)

Enter the date in format {dd/mm/yy}: 4/2/26
The incremented date is:  5 2 26

In [ ]:
#8 Calculate the gross salary of an employee based on basic salary
# if basic <= 10000: HRA = 20%, DA= 80%
# if basic <= 20000: HRA = 25%, DA= 90%
# otherwise: HRA = 30%, DA = 95%

salary = int(input("Enter your salary: "))
b1 = (0.2*10000) + (0.8*10000)
b2 = (0.25*20000) + (0.9*20000)

if salary <= 10000 :
  print("gross salary is: ", salary+b1)
elif salary <= 20000 :
  print("gross salary is: ", salary+b2)
else:
  print("gross salary is: ", salary+ 0.3*salary + 0.95*salary)

Enter your salary: 25000
gross salary is:  56250.0

In [1]:
#9 Calculate income tax based on annual income
# up to rps 2,50,000: no tax
# 2,50,001 - 5,00,000: 5%
# 5,00,001 - 10,00,000: 20%
# above 10,00,000: 30%

income = int(input("Enter your annual income: "))

if income <= 250000:
  tax = 0
elif income <= 500000:
  tax = (income - 250000)* 0.05
elif income <= 1000000:
  tax = (250000*0.05) + (income- 500000) * 0.20
else :
  tax = (250000*0.05) + (500000 * 0.20) + (income - 1000000) * 0.30

print("Income tax: ", tax)

Enter your annual income: 600000
Income tax:  32500.0